In [9]:
import pandas as pd
import numpy as np
import csv
import os

In [54]:
# Create a new CSV file


data = {
    "SaleID": [1, 2, 3, 4],
    "Product": ["Laptop", "Mobile", "Tablet", "Headphones"],
    "Quantity": [2, 5, 3, 10],
    "Price": [50000, 20000, 15000, 2000]
}

df = pd.DataFrame(data)
df.to_csv("newsales.csv", index=False)
print("Dataset:")
print(df, "\n")

Dataset:
   SaleID     Product  Quantity  Price
0       1      Laptop         2  50000
1       2      Mobile         5  20000
2       3      Tablet         3  15000
3       4  Headphones        10   2000

In [58]:
# Insert new record


new_record = {"SaleID": 5, "Product": "Smartwatch", "Quantity": 7, "Price": 8000}
df = pd.concat([df, pd.DataFrame([new_record])], ignore_index=True)
print("After CREATE (Inserted Smartwatch):")
print(df, "\n")

After CREATE (Inserted Smartwatch):
   SaleID     Product  Quantity  Price
0       1      Laptop         2  50000
1       2      Mobile         5  20000
2       3      Tablet         3  15000
3       4  Headphones        10   2000
4       5  Smartwatch         7   8000

In [60]:
# READ (Get Mobile record)

read_record = df[df["Product"] == "Mobile"]
print("READ Operation (Product = 'Mobile'):")
print(read_record, "\n")

READ Operation (Product = 'Mobile'):
   SaleID Product  Quantity  Price
1       2  Mobile         5  20000

In [62]:
# Update: Modify existing records in the dataset


df.loc[df["Product"] == "Tablet", "Price"] = 18000
print("After UPDATE (Tablet price changed):")
print(df, "\n")

After UPDATE (Tablet price changed):
   SaleID     Product  Quantity  Price
0       1      Laptop         2  50000
1       2      Mobile         5  20000
2       3      Tablet         3  18000
3       4  Headphones        10   2000
4       5  Smartwatch         7   8000

In [79]:
# Delete: Remove specific records from the dataset.


df = df[df["SaleID"] != 2]
print("After DELETE (Removed Mobile):")
print(df, "\n")

After DELETE (Removed Mobile):
Empty DataFrame
Columns: [SaleID, Product, Quantity, Price]
Index: []

In [75]:
# Save the dataset

df.to_csv("newsales.csv", index=False)